.show_items{
  align-items: center;
  display: inline-flex;
}


button.side_arrow{
  margin: 90px 0px 0px 0px;
  vertical-align: top;
}

.plus{
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}


.disponible{
  margin-right: 10px;
}
.contenedor2{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contenedor{
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  align-content: center;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }
