.show_items{
  align-items: center;
  display: inline-block;
}


button.side_arrow{
  margin: 90px 0px 0px 0px;
  vertical-align: top;
}

button.plus{
  position: absolute;
  right: 150px;
}

h3.primer_nombre{
    margin:0px 0px 0px 70px;
}
