<h1>
Bandas
</h1>

  <div class="row">

  <div class="col-sm-12" ng-repeat="banda in bandas"  >
    <a ui-sref="app.bandas-banda({'id':banda.IdBanda,'rating': banda.Rating})">
      <div class="card">
        <div class="card-header peds-name-stars">
          <strong>{{banda.Nombre}}  <span ng-hide="banda.Estado" style="color: red;" >Desactivada</span></strong>
            <div class="stars-band">
              <i class="fa fa-star fa-lg m-t-2 peds-star"  ng-repeat="star in  getArray(banda.Rating)  track by $index "></i>
            </div>
          </div>
      </div>
    </a>
  </div>

  </div>
  <!--/col-->


  <!--/col-->
