
<div ng-controller="carteleraController">
    <h1 class="" align="center"> {{Cartel.Nombre}} </h1>
    <div class="contenedor">
      <div class="header_fes_car">
          <div class="">
              <img width="300" height= "250" src= "https://dancettradio.files.wordpress.com/2012/01/festivalimperial_1-scaled10001.jpg">
          </div>
          <div class="">
            <div class="card">
                    <div class="card-header">
                        <h5>Información General</h5>
                    </div>
                    <div class="card-block">
                      <h5> Lugar del evento: {{Cartel.Lugar}}, {{Cartel.NombrePais}}</h5>
                      <h5>Cierre de votaciones: {{Cartel.CierreVotacion}}</h5>
                      <h5>Fecha de inicio: {{Cartel.FechaInicio}}</h5>
                      <h5>Fecha de finalización: {{Cartel.FechaFinal}}</h5>
                    </div>
               </div>
             </div>
          </div>
    </div>

    <div class="categoria_style" ng-repeat="categoria in Cartel.Categories">
      <div class="">
        <button class="accordion" ng-click="changeIcon()">
          <div class="contenedor">
            <div class="contenedor">
              <h3>{{categoria.CategoriaNombre}}</h3>
              <div class="UpDownstyle" ng-show="UpDown">
                    <i class="fa fa-angle-double-down fa-lg m-t-2" ></i>
                </div>
              <div class="UpDownstyle" ng-show="!UpDown">
                    <i class="fa fa-angle-double-up fa-lg m-t-2" width=50 height=50></i>
                </div>

            </div>
            <div class="toRight">
              <h5 ng-show="!admi">dinero disponible: ${{categoria.dineroRestante}}</h5>
            </div>
          </div>
          </button>
          <div class="panel">
            <div class="contenedor">
              <div class="contenedor" ng-repeat="banda in Cartel.Categories.Bandas">
                <img src="">
                <h5>{{banda.NombreBanda}}</h5>
                <div class="acomulado">
                    <h5>Acumulado</h5>
                </div>
              </div>
              <div class=toRight>
                <div class="contenedor">
                  <h6>Vota con $</h6>
                  <input type="text" name="" value="0">
                </div>
                </div>
              </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="toRight">
        <button>Enviar Votación!</button>
      </div>
    </div>
  </div>
