
<div ng-controller="carteleraController">
  <div class="card card">
    <div class="card-header">
        <h1 class="" align="center"> {{Cartel.Nombre}} </h1>
    </div>
    <div class="card-block">

      <div align="center">
        <img align="center" width="300" height= "300" src= "https://dancettradio.files.wordpress.com/2012/01/festivalimperial_1-scaled10001.jpg">
        <h4 align="center">
               Lugar del evento: {{Cartel.Lugar}}, {{Cartel.NombrePais}} <br>
               Cierre de votaciones: {{Cartel.CierreVotacion}}<br>
               Fecha de inicio: {{Cartel.FechaInicio}}<br>
               Fecha de finalización: {{Cartel.FechaFinal}}
             </h4>
           </div>
         </div>
       </div>
     </div>
   </div>


    <div class="categoria_style">
      <div class="">
        <button class="accordion" ng-click="changeIcon()">
          <div class="contenedor">
            <div class="contenedor">
              <label>Categoría</label>
              <div class="UpDownstyle" ng-show="UpDown">
                    <i class="fa fa-angle-double-down fa-lg m-t-2" ></i>
                </div>
              <div class="UpDownstyle" ng-show="!UpDown">
                    <i class="fa fa-angle-double-up fa-lg m-t-2" width=50 height=50></i>
                </div>

            </div>
            <div class="toRight">
              <h5 ng-show="!admi">dinero disponible: ${{}}</h5>
            </div>
          </div>
          </button>
          <div class="panel">
            <div class="contenedor">
              <div class="contenedor">
                <img src="">
                <h5>Nombre de la Banda</h5>
                <div class="acomulado">
                    <h5>Acumulado</h5>
                </div>
              </div>
              <div class=toRight>
                <div class="contenedor">
                  <h6>Vota con $</h6>
                  <input type="text" name="" value="0">
                </div>
                </div>
              </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="toRight">
        <button>Enviar Votación!</button>
      </div>
    </div>
  </div>
