<div class="" ng-controller="festivalController">
  <div class="contenedor">
    <div class="card card card-inverse card-primary">
      <div class="card-header">
        <h1 class="" align="center"> {{Festival.Nombre}}  </h1>
      </div>
    <div class="card-block  card-inverse card-primary header_fes_car">
      <div class="card" style="margin:1%;">
        <img width="300" height= "250" src= "https://dancettradio.files.wordpress.com/2012/01/festivalimperial_1-scaled10001.jpg" style="margin: 0 0 1% 0">
        <div class="card card-inverse card-primary" style="margin-left:1%">
          <div class="card-header">
            <h5>Recomendación del Chef:</h5>
          </div>
          <div class="card-block center_img">
              <p><span>Nombre: </span><span style="font-weight:bold"> {{Festival.Recomendacion.Nombre}} </span>
              <p><span>Género: </span><span style="font-weight:bold"> {{Festival.Recomendacion.NombreGenero}} </span>
              <p><span>Descripción: </span><span style="font-weight:bold"> {{Festival.Recomendacion.Nombre}} </span>
            <div class="" style="align-self: center;">
              <img src="http://www.rocksonico.com/nombre-de-tu-banda/images/banda.jpg" width="100" height="100">
            </div>
          </div>
        </div>
      </div>
      <div class="card card-inverse card-primary"><!-- style="height:250px; margin:1%;" -->
        <div class="card-header">
          <h5>Información General</h5>
        </div>
        <div class="card-block center_img" >
          <p>Lugar del evento:      <br><span style="font-weight:bold">{{Festival.Lugar}}, {{Festival.Pais}}</span></p>
          <p>Fecha de inicio:       <br><span style="font-weight:bold"> {{Festival.FechaInicio}}</span></p>
          <p>Fecha de finalización: <br><span style="font-weight:bold"> {{Festival.FechaFinal}}</span></p>
          <p>Transporte:            <br><span style="font-weight:bold">{{Festival.Transporte}}</span></p>
          <p>Comida:                <br><span style="font-weight:bold">{{Festival.Comida}}</span></p>
          <p>Servicios:             <br><span style="font-weight:bold">{{Festival.Servicios}}</span></p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <ang-accordion>
    <collapsible-item item-title="Titulo" >
      <div class="">
        <table class="table table-hover table-outline m-b-0 hidden-sm-down">
          <thead class="thead-default">
            <tr>
              <th class="text-xs-center"><i class="icon-people"></i></th>
              <th>Banda</th>
              <th class="text-xs-center">Rating</th>
              <th>Acumulado</th>
            </tr>
          </thead>
          <tbody >
          <!--<div class="">
          hola
          </div>-->
            <tr>
              <td><i class="fa fa-group fa-lg m-t-2"></i></td>
              <td>banda.BandaNombre</td>
              <td></td>
              <td>banda.Acumulado</td>
            </tr>
          </tbody>
        </table>
      </div>
    </collapsible-item>
    <div class="send-vote-buttom">
      <button type="button" class="btn btn-primary"><i class="fa fa-star"></i>&nbsp; Enviar</button>
    </div>
  </div>
 </div>
</div>
