<head>
  <link rel="stylesheet" type="text/css" href="css/custom_style.css">
</head>

<div ng-controller= "myhomeController">
<h1> {{mywelcome}} </h1>
    <div class="contenedor2">
      <h2>Carteleras</h2>
      <div class="contenedor">
          <div class="boton">
              <button ng-click="slideCartelera(true)"><img src="/img/arrowleft.png" width="50" height="50"></button>
          </div>
        <div class="contenedor">
          <div ng-repeat="cartel in mostrando_cartelera">
              <img ng-src=cartel.imagen width="300px" height="300px" ng-click="selectItem(cartel,true)">
              <h3>{{cartel.Nombre}}</h3>
          </div>
        </div>
        <div class="boton">
          <button ng-click="slideCartelera(false)"><img src="/img/arrowright.png" width="50" height="50" ></button>
        </div>
      </div>
      <div class="plus">
        <button class="" ng-show="admi"><img src="img/plus_icon.png" width="30" height="40"></button>
      </div>
    </div>

    <div class="contenedor2">
      <h2>Festivales</h2>
      <div class="contenedor">
          <div class="boton">
              <button ng-click="slidefestivales(false)"><img src="/img/arrowleft.png" width="50" height="50"></button>
          </div>
        <div class="contenedor">
          <div ng-repeat="festival in mostrando_festivales">
              <img ng-src=festial.imagen width="300px" height="300px">
              <h3>{{festival.Nombre}}</h3>
          </div>
        </div>
        <div class="boton">
          <button ng-click="slidefestivales(true)"><img src="/img/arrowright.png" width="50" height="50" ></button>
        </div>
      </div>
      <div class="plus">
        <button ng-show="admi"><img src="img/plus_icon.png" width="30" height="40"></button>
      </div>
    </div>


</div>
