
<div ng-controller= "myhomeController">
<h1> {{mywelcome}} </h1>
    <div class="contenedor2">
      <h2>Carteleras</h2>
      <div class="contenedor_home">
          <div class="boton">
              <button ng-click="slideCartelera(true)"><i class="fa fa-chevron-left fa-lg m-t-2"></i></button>
          </div>
        <div class="contenedor_home">
          <div class="presenta3" ng-repeat="cartel in mostrando_cartelera">
              <img ng-src="{{cartel.imagen}}" width="300px" height="300px" ng-click="selectItem(cartel,true)">
              <h3>{{cartel.Nombre}}</h3>
          </div>
        </div>
        <div class="boton">
          <button ng-click="slideCartelera(false)"><i class="fa fa-chevron-right fa-lg m-t-2"></i></button>
        </div>
      </div>
      <div class="plus">
        <button class="" ng-show="admi" ng-click="CreateNew(true)"><img src="img/plus_icon.png" width="30" height="40"></button>
      </div>
    </div>

    <div class="contenedor2">
      <h2>Festivales</h2>
      <div class="contenedor_home">
          <div class="boton">
              <button ng-click="slidefestivales(false)"><img src="/img/arrowleft.png" width="50" height="50"></button>
          </div>
        <div class="contenedor_home">
          <div class="presenta3" ng-repeat="festival in mostrando_festivales">
              <img ng-src="http://lorempixel.com/400/200/abstract/" width="300px" height="300px">
              <h3>{{festival.Nombre}}</h3>
          </div>
        </div>
        <div class="boton">
          <button ng-click="slidefestivales(true)"><img src="/img/arrowright.png" width="50" height="50" ></button>
        </div>
      </div>
      <div class="plus">
        <button ng-show="admi"><img src="img/plus_icon.png" width="30" height="40"></button>
      </div>
    </div>


</div>
