<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-block p-4">
                        <h1>Registro</h1>
                        <p class="text-muted">Crear una cuenta</p>
                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-user"></i>
                            </span>
                            <input type="text" ng-model="user.name" class="form-control" placeholder="nombre">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-user"></i>
                            </span>
                            <input type="text" ng-model="user.surname1" class="form-control" placeholder="Primer Apellido">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-user"></i>
                            </span>
                            <input type="text" ng-model="user.surname2" class="form-control" placeholder="Segundo apellido">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-user"></i>
                            </span>
                            <input type="text" ng-model="user.userName" class="form-control" placeholder="Usuario">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="Correo">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-lock"></i>
                            </span>
                            <input type="password" ng-model="user.pass" class="form-control" placeholder="Contraseña">
                        </div>

                        <div class="input-group mb-4">
                            <span class="input-group-addon"><i class="icon-lock"></i>
                            </span>
                            <input type="password" ng-model="user.repass" class="form-control" placeholder="Confirma Contraseña">
                        </div>
                        <div class=error>
                          {{msj}}
                        </div>
                        <button type="button" ng-click="register(user.userName, user.pass,
                            user.name, user.surname1, user.surname2, user.mail, user.pass, user.role,
                            user.birthdate, user.country, user.address, user.college,
                            user.phone, user.photo, user.description)"
                            class="btn btn-block btn-success">Crear Cuenta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
